@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
 }

body{
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
    font-weight: 300;
}
/* globales */
a{
    text-decoration: none;
}


header{
    width: 960px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        color: #3c3c3c;
        font-weight: 600;
    }

    header a img{
        vertical-align: middle;
        margin: 0px 16px;
    }

    header nav a{
        margin-right: 16px;
    }

/* main:  contenido de la página */
main{
    width: 960px;
    margin: auto;
}

/* hero banner */
#hero-banner{
    height: 450px;
    background-image: url(../imgs/hero-banner.jpg);
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
}
    #hero-banner h1{
        color: #fff;
        font-size: 32px;
        margin-left: 140px;
        width: 296px;
    } 

/* sección promos */    
#promos{
    height: 477px;
    background-color: #FCEFE6;
    margin-top: 56px;
    padding: 32px 48px 48px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #promos h2{
        width: 100%;
    }

    #promos a{
        color: #3c3c3c;
        height: 340px;
    }
    #promos a:hover{
        box-shadow: 0px 0px 8px #953f01;
        color: #953f01;  
    }

    #promos article{
        width: 256px;
        height: 340px;
        background-color: #ffffff;
    }
        #promos article h3{
            margin: 16px 24px;
            font-size: 16px;
        }
        #promos article p{
            margin: 0px 24px 0px 24px;
        }

/* sección servicios */
#servicios{
    width: 680px;
    height: 372px;
    margin: 56px auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 32px;
}
    #servicios h2{
        width: 100%;
        font-weight: normal;
        text-align: center;
    }
    #servicios a{
        width: 160px;
        height: 140px;
        display: block;
        border-radius: 12px;
        text-align: center;
        color: #3c3c3c;
        border: 1px solid #3c3c3c;
        transition: 500ms;
    }
    #servicios a:hover{
        background-color: #3c3c3c;
        color: #fff;
    }

    .material-symbols-outlined{
        font-size: 56px;
        margin: 22px 52px 16px 52px;
    }