@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
 }

body{
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
    font-weight: 300;
}
/* globales */
a{
    text-decoration: none;
}


header{
    width: 960px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        color: #3c3c3c;
        font-weight: 600;
    }

    header a img{
        vertical-align: middle;
        margin: 0px 16px;
    }

    header nav a{
        margin-right: 16px;
    }

/* main:  contenido de la página */
main{
    width: 960px;
    min-height: 500px;
    margin: auto;
}

/* hero banner */
#hero-banner{
    height: 450px;
    background-image: url(../imgs/hero-banner.jpg);
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
}
    #hero-banner h1{
        color: #fff;
        font-size: 32px;
        margin-left: 140px;
        width: 296px;
    } 

/* sección promos */    
#promos{
    height: 477px;
    background-color: #FCEFE6;
    margin-top: 56px;
    padding: 32px 48px 48px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #promos h2{
        width: 100%;
    }

    #promos a{
        color: #3c3c3c;
        height: 340px;
    }
    #promos a:hover{
        box-shadow: 0px 0px 8px #953f01;
        color: #953f01;  
    }

    #promos article{
        width: 256px;
        height: 340px;
        background-color: #ffffff;
    }
        #promos article h3{
            margin: 16px 24px;
            font-size: 16px;
        }
        #promos article p{
            margin: 0px 24px 0px 24px;
        }

/* sección servicios */
#servicios{
    width: 680px;
    height: 372px;
    margin: 56px auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 32px;
}
    #servicios h2{
        width: 100%;
        font-weight: normal;
        text-align: center;
    }
    #servicios a{
        width: 160px;
        height: 140px;
        display: block;
        border-radius: 12px;
        text-align: center;
        color: #3c3c3c;
        border: 1px solid #3c3c3c;
        transition: 500ms;
    }
    #servicios a:hover{
        background-color: #3c3c3c;
        color: #fff;
    }

    .material-symbols-outlined{
        font-size: 56px;
        margin: 22px 52px 16px 52px;
    }

/* página servicios */
/* video */
#video{
    height: 450px;
}
    #video iframe{
        width: 960px;
        height: 450px;
        border: none;
    }

/* rooms  */
#rooms{
    background-color: #FAF0E9;
    padding: 32px;
    margin: 56px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
    #rooms article{
        width: 100%;
        display: flex;
        background-color: #fff;
    }
        #rooms article div{
            margin: 16px 32px;
        }
        #rooms article div h2{
            font-weight: normal;
            margin-bottom: 20px;
        }
        #rooms div span{
            color: #AF5B01;
        }
        #rooms article div p{
            margin-top: 40px;
        }

        
        #rooms a{
            display: inline-block;
            margin-top: 16px;
            color: #fff;
            background-color: #c91414;
            font-size: 23px;
            border: 1px solid #130202 ;
            border-radius: 8px;
            padding: 4px 16px;
            transition: 200ms;
        }
            
            #rooms a:hover{
                background-color: #a51010;
                box-shadow: 40%;
            }
        
        /*
        #rooms a{
            display: block;
            margin: 24px auto;
            width: 160px;
            padding: 8px;
            background-color: #AF5B01;
            color: #fff;
            border-radius: 12px;
            text-align: center;
            transition: 500ms;
        }
        #rooms a:hover{
            background-color: #d67a16;
        }
        */

/* footer  */
footer{
    width: 960px;
    height: 160px;
    background-color: #3C3C3C;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    footer a{
        margin-left: 40px;
        color: #fff;
    }
        footer a img{
            vertical-align: middle;
            margin-right: 8px;
        }
    footer div{
        margin-right: 40px;
    }
        footer div a{
            margin: 8px;
        }