@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box; 
}

body{
    font-family: Raleway;
    font-weight: 600;
    width: 768px;
    margin: auto;
}

#gradiente{
    height: 450px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

    margin: 32px 0px;
}

#imagen{
    height: 450px;
    margin: 32px 0px;

    background-image: url(../imgs/fondo.jpg);
    
}